/*Background fondo layout*/
body {
    background: rgb(250, 250, 250);
    /*
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgb(133, 193, 233) 0%, 
    rgba(133, 193, 233) 0%, rgba(133, 193, 233) 0%, 
    rgba(133, 193, 233) 0%);
    */
}

/*tipografia de letras*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0, 0, 0);
    text-align: justify;
}

/*Parrafos*/
p {
    text-align: justify;
}

/*texto de cartas*/
.card-text{
    text-align: left;
}

h7 {
    font-size: 20px;
}

h10 {
    font-family: "Latin Modern Roman";
    font-style: oblique;
    color: #000000;
    text-align: justify;
    font-weight: bold;
    font-size: 25px;
}

.text-muted {
    color: #000000;
}

.bordeper {
    border-radius: 500px;
}

.card {
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
}

.navleter{
    font-size: 14px;
    color: rgb(255, 255, 255);
    
}

h8 {
    font-size: 20px;
    text-align: justify;
    font-family: "Latin Modern Roman";
    font-style: oblique;
}

h9 {
    font-family: "Latin Modern Roman";
    font-style: oblique;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

h11 {
    white-space: pre-line;
    font-size: 13px;
    text-align: justify;
}

.TextAreaField {
    font-size: 30px;
}

.bg-steel {
    background: rgb(109, 91, 207);

}

.site-header .navbar-nav .nav-link {
    color: rgb(109, 91, 207);
    display:flex;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    
}

.content-section2 {
    background:  #ffffff;
    padding: 10px 40px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    
}

.article-title {
    color: #000000;
    font-size: 25px;
}

a.article-title:hover {
    color: #000000;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
    font-size: 13px;
    text-align: justify;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff
}

.article-metadata a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}



/*margen interna de la derecha*/
.titulo {
    text-align: center;
    transform: translate(100px, 200px);
    font-size: 20px;
    padding-right: 80px;
    font-style: italic;
}

/*Titulo de creaciones plj*/
.titulogrande {
    color: #6467ff;
    text-align: center;
    font-size: 2000px;
    font-style: italic;
    font-size: xx-large;
    /*margen interna de la derecha*/
}

.logo:hover{
    transform: scale(1.2);

}

/*Logo de navbar*/
.logo {
    image-orientation: left;
    transform: translate(-60px, 3px);
    transition: all 0.3s;

    
}


.carrusel {
    width: 250px;
    margin-left: 100px;
}

.carrusel2 {
    width: 250px;
    margin-left: 250px;
    transform: translate(200px, -400px);
}

.iconojustificacion {
    text-align: right;
    image-orientation: right;
    transform: translate(60px, 3px);
}

.footerdiseño{
    background: rgb(185, 185, 185);
}

.derecha{
    float:right;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transform: scale(1.2);
    padding-right: 30px;
}


@media (max-width: 980px){

    .iconojustificacion {
        text-align: right;
        image-orientation: right;
        transform: translate(80px, 3px);
    }
    .titulo {
        text-align: center;
        transform: translate(50px, 200px);
        font-size: 20px;
        padding-right: 80px;
        font-style: italic;
    }
    .carrusel2 {
        width: 250px;
        margin-left: 250px;
        transform: translate(-150px, 50px);
    }

}

@media (max-width: 858px){

    .titulo {
        text-align: center;
        transform: translate(50px, 80px);
        font-size: 20px;
        padding-right: 80px;
        font-style: italic;
    }
    .carrusel2 {
        width: 250px;
        margin-left: 250px;
        transform: translate(-150px, 50px);
    }

}