{% extends "layout.html" %}
{% block content %}
<br></br>
  <div class="col-md-12 container"> 
    <h10>MAS INFORMACIÓN ACERCA DE LOS PRODUCTOS</h10>
    <br> </br>
    <p class='justify-content-around'>En esta sección se explica brevemente los productos que se ofrecen y de que se componen:</p>
    <br>
    
    <a href="{{ url_for('main.productos') }}" target="_blank"> <h10>Juego de la Mariposa</h10>
    </a>
    <br> </br>
    <img width='200px' height='200px' src="{{url_for('static',filename='img/20.jpeg')}}" alt="...">
    <br> </br>
    <h10 >Composición</h10>
    <br>
    <p class='justify-content-around'>Tiene 45 cuerpos de colores variados 
      cuando saque uno en el dado gana cuerpo, tiene 5 cabezas de color morado 
      cuando saque dos unos en los dados gana una cabeza, tiene 1 cola de color 
      roja cuando saque tres unos en los dados gana la cola que solo es una se 
      juega con 5 dados solo participan los unos.</p>
    <br>
    <h10 >Reglas del Juego</h10>
    <br> </br>
    <p class='justify-content-around'>Cuando tire los dados y saque cuatro unos el que tiro tiene derecho a 
      quitarle la cola si no tiene cola le quita una cabeza a todos y podrá usar 
      solo la cola si la necesita para sí mismo el resto se regresa a la caja 
      si no tiene cola o cabeza le quita un cuerpo al que no tenga cola o cabeza 
      y esas fichas regresan a la caja, además todos le pagarán al ganador él 
      valor de la base inicial.</p>
      <br>
    <p class='justify-content-around'>Cuando tire los dados y saque 5 unos ese gana el juego, indiferente de la 
      cantidad que lleve de la mariposa.</p>
    <p class='justify-content-around'>Cuando se tienen las cabezas u gana dos unos se le da dos cuerpos, 
      igualmente con la cola ahí sería tres cuerpos cuando ya la tenga completa
      cabezas y cola.</p>
    <p class='justify-content-around'>Se inicia con una base la acordada. Ejemplo: 200, y cuando se pierda 
      se pone de a 100. Aquí pierde es cuando no saca unos en el primer tiro, 
      si tiro y saco uno sigue jugando y si al segundo tiro no saco unos no 
      pone multa.</p>
     <p class='justify-content-around'>Se juega con cinco dados, cuando le falten 4 cuerpos se tira con 4 
      dados y así a medida que va mermando el número de cuerpos se disminuye 
      el número de dados, cuando le falte cola y cabezas indiferente al número
      de cuerpos se tirará con los 5 dados hasta conseguir cubrir la mariposa 
      con todas las fichas.</p>
      <br>

      <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Portacelular</h10>
      </a>
      <br> </br>
      <img width='200px' height='200px' src="{{url_for('static',filename='img/p22.jpeg')}}" alt="...">
      <br> </br>
     
     <p class='justify-content-around'>Este producto su función es poder dejar reposar el celular sobre algo
      mientras vemos algún video, o mientras cargamos nuestro celular, de esta 
      manera tenerlo de forma más cómoda y segura.</p>
      <br>

      <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Servilleteros</h10>
      </a>
      <br> </br>
      <img width='200px' height='200px' src="{{url_for('static',filename='img/p11.jpeg')}}" alt="...">
      <br> </br>
     
     <p class='justify-content-around'>Este producto su función es tener las servilletas a la mano, cuando 
      la ubicamos en el comedor, dando un aspecto bonito y vistoso.</p>
      <br>

      <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Tapabocas</h10>
      </a>
      <br> </br>
      <img width='200px' height='200px' src="{{url_for('static',filename='img/p33.jpeg')}}" alt="...">
      <br> </br>

      
     <p class='justify-content-around'>Este producto no es un tapabocas tradicional, porque son pintados 
      a mano y le da un toque artístico muy expontaneo y único.</p>
     <br>

     <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Alcancias</h10>
     </a>
     <br> </br>
     <img width='200px' height='200px' src="{{url_for('static',filename='img/5.jpeg')}}" alt="...">
     <br> </br>
      
     <p class='justify-content-around'>Este producto su función es poder ahorrar más, es reutilizable y 
      el diseño es personalizable.</p>
     <br>

     <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Cofres</h10>
     </a>
     <br> </br>
     <img width='200px' height='200px' src="{{url_for('static',filename='img/58.jpeg')}}" alt="...">
     <br> </br>

     <p class='justify-content-around'>Este producto permite guardar objetos de valor que sean muy 
      importantes, tenerlos de una manera más segura.</p>
     <br>

     <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Elefantes</h10>
     </a>
     <br> </br>
     <img width='200px' height='200px' src="{{url_for('static',filename='img/36.jpeg')}}" alt="...">
     <br>

     <p class='justify-content-around'>Este producto son decoraciones para la sala o para el hogar, 
      la visitas de tu hogar se percatarán que es algo que no muchas 
      personas poseen.</p>
     <br>

     <a href="{{ url_for('main.productos') }}" target="_blank"> <h10 >Cubierteros</h10>
     </a>
     <br> </br>
     <img width='200px' height='200px' src="{{url_for('static',filename='img/40.jpeg')}}" alt="...">
     <br>

     <p class='justify-content-around'>Este producto su función es tener los cubiertos a la mano, 
      cuando lo ubicamos en el comedor, dando un aspecto bonito y 
      vistoso.</p>

  </div>
    
{% endblock content %}
