{% extends "layout.html" %}
{% block content %}
<br></br>
<h10>Bienvenido! Explora la colección de arte que tenemos para ti</h10>
<br></br>
<br></br>
<!-- Primer carrusel-->

<div
  id="carouselExampleControls"
  class="carrusel carousel slide"
  data-bs-ride="casel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta1.png')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta2.png')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta3.pgn')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
<!-- Segundo carrusel-->
<div
  id="carouselExampleControls"
  class="carrusel2 carrusel carousel slide"
  data-bs-ride="casel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta3.png')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta4.png')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        width="100px"
        height="400px"
        src="{{url_for('static',filename='img/porta5.pgn')}}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
{% endblock content %}