{% extends "layout.html" %}
{% block content %}
<br></br>
    <h10>PRODUCTOS</h10>
    <br></br>
    
    

    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card rounded-pill">
            <img width='500px' height='200px' src="{{url_for('static',filename='img/20.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                <h10 class="card-title">Juego de la Mariposa</h10>
                <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                    <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                </a>
                <p class="card-text">Para disfrutar con familia y amigos <br> Precio:$140.000 con caja <br> Precio:$100.000 sin caja</p>
                <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
            <img width='500px' height='200px' src="{{url_for('static',filename='img/5.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                    <h10  class="card-title">Alcancias</h10>
                    <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                        <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                    </a>
                    <p class="card-text">Alcancias personalizadas <br> Precio:$30.000</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
                <img width='500px' height='200px' src="{{url_for('static',filename='img/58.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                    <h10  class="card-title">Cofres</h10>
                    <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                        <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                    </a>
                    <p class="card-text">Guarda tus objetos personales <br> Precio:$80.000</p>
                    <br>
                </div>
            </div> 
        </div>
    </div>

    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col rounded-pill">
            <div class="card rounded-pill">
                <img width='500px' height='200px' src="{{url_for('static',filename='img/p1.jpg')}}" class="rounded-pill card-img-top" alt="   ">
                    <div class="card-body">
                        <h10 class="card-title">Servilletero</h10>
                            <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">           
                                <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" alt="   ">
                            </a>
                        <p class="card-text">¡Conoce nuestra colección más  hermosa! <br> Precio: $35.000 </p>
                        <br>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
                <img width='500px' height='200px' src="{{url_for('static',filename='img/p2.jpg')}}" class="card-img-top rounded-pill" alt="...">
                    <div class="card-body">
                        <h10 class="card-title">Portacelular</h10>
                            <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                                <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                            </a>
                        <p class="card-text">Estas son piezas indispensables <br> Precio:$25.000 </p>
                        <br>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
                <img width='500px' height='200px' src="{{url_for('static',filename='img/p3.jpg')}}" class="rounded-pill card-img-top" alt="...">
                    <div class="card-body">
                        <h10 class="card-title">Tapabocas</h10>
                            <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                                <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                            </a>
                        <p class="card-text">Piezas exclusivas para innovar <br> Precio:$12.000</p>
                        <br>
                    </div>
            </div> 
        </div>
    </div>

    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card rounded-pill">
            <img width='500px' height='250px' src="{{url_for('static',filename='img/13.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                <h10  class="card-title">Matero</h10>
                <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                    <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                </a>
                <p class="card-text">Materos personalizados <br> Precio:$40.000</p>
                <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
            <img width='510px' height='200px' src="{{url_for('static',filename='img/36.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                    <h10  class="card-title">Elefantes</h10>
                    <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                        <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                    </a>
                    <p class="card-text">Elefante para decoración de tu sala <br> Precio:$90.000 </p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-pill">
                <img width='500px' height='250px' src="{{url_for('static',filename='img/40.jpeg')}}" class="rounded-pill card-img-top" alt="...">
                <div class="card-body">
                    <h10  class="card-title">Cubierteros</h10>
                    <a href='https://api.whatsapp.com/send?phone=+573148510845&text=Hola,%20quiero%20conocer%20tu%20catalogo' target="_blank">
                        <img width='30px' height='30px' src="{{url_for('static',filename='img/wasap.png')}}" class="" alt="...">
                    </a>
                    <p class="card-text">Ten un cubiertero moderno en tu comedor <br> Precio:$50.000 </p>
                    <br>
                </div>
            </div> 
        </div>
    </div>

    <br>  <br/>

{% endblock content %}
